<link rel="stylesheet" type="text/css" href="stylesheets/navbar-altin.css">

<button id="side-navbar-toggle" onClick="toggleNavbar()"><img src="images/menu-hamburger-icon-white.png"></button>
<div id="side-nav" class="side-navbar">
    <a href="/">Home</a>
    <a href="/calculator">Calculator</a>
    <a href="/news">News</a>
    <a href="/chart">Live Chart</a>
    <a href="/about">About</a>
</div>

<script>
    let isNavbarOpen = false
    const toggleNavbar = () => {
        if (isNavbarOpen) {
            document.getElementById("side-nav").style.width = "0.4rem";
            isNavbarOpen = false
        } else {
            document.getElementById("side-nav").style.width = "250px";
            isNavbarOpen = true
        }
    }
</script>