body {
  font-family: 'Exo 2', sans-serif;
  justify-content: center;
  align-items: center;
  background: #000;
  background-image: url('https://i.ibb.co/HGj2hcd/bg.png');
  background-size: cover;
  }

h1:not(.newscalc) {
  font-weight: 200;
  font-style: italic;
  color: #fff;
  margin: 2em 35%;
  padding: 1rem;
  border: 0.3rem solid #fff;
  border-radius: 2rem;
  text-transform: uppercase;
}

h1::-moz-selection {
  font-family: 'Tourney', cursive;
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1::selection {
  background-color: var(--neon-border-color);
  color: var(--neon-text-color);
}

h1:focus {
  outline: none;
}

.name {
  color: white;
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
  0 0 .25rem #08f,
  0 0 .5rem #08f,
  0 0 .75rem #08f,
  0 0 1rem #08f,
  0 0 1.25rem #08f;
  text-align: center;
}

.special_thanks {
  color: white;
  background-color: #141d26;
  text-align: center;
  margin: 2em 16em 2em 16em;
  padding: 1rem;
  border: 0.3rem solid #fff;
  border-radius: 1rem;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 .25rem #08f,
      0 0 .5rem #08f,
      0 0 .75rem #08f,
      0 0 1rem #08f,
      0 0 1.25rem #08f;
  box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #f40,
      inset 0 0 1rem #f40,
      0 0 2rem #f40,
      inset 0 0 2rem #f40;
}

p {
  color: white;
}

.about_table {
  list-style-type: none;
  text-align: center;
  margin: 1em 16em 2em 16em;
  padding-left: 0em;
  clear: both;
}

.devhub_info {
  text-align: left;
  background-color: #141d26;
  border: 0.3rem solid white;
  border-radius: 10px;
  margin: 1em 16em 2em 16em;
  padding: 1em;
  overflow: auto;
  box-shadow:
  0 0 .5rem #fff,
  inset 0 0 .5rem #fff,
  0 0 2rem #f40,
  inset 0 0 1rem #f40,
  0 0 2rem #f40,
  inset 0 0 2rem #f40;
}

.devhub_link:link {
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
  0 0 .25rem #08f,
  0 0 .5rem #08f,
  0 0 .75rem #08f,
  0 0 1rem #08f,
  0 0 1.25rem #08f;
  color: white;
  text-decoration: none;
}

.devhub_link:visited {
  color: #c4c4c4;
}

.devhub_link:hover {
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
  0 0 .25rem #f40,
  0 0 .5rem #f40,
  0 0 .75rem #f40,
  0 0 1rem #f40,
  0 0 1.25rem #f40;
  text-decoration: none;
}

.devhub_link:active {
  text-shadow:
  -0.2rem -0.2rem 1rem #fff,
  0.2rem 0.2rem 1rem #fff,
  0 0 .25rem #08f,
  0 0 .5rem #08f,
  0 0 .75rem #08f,
  0 0 1rem #08f,
  0 0 1.25rem #08f;
  color: white;
  text-decoration: none;
}

.bio {
  text-align: left;
  background-color: #141d26;
  border: 0.3rem solid white;
  border-bottom: none;
  padding: 1em;
  overflow: auto;
  box-shadow:
  0 0 .5rem #fff,
  inset 0 0 .5rem #fff,
  0 0 2rem #f40,
  inset 0 0 1rem #f40,
  0 0 2rem #f40,
  inset 0 0 2rem #f40;
}

.first-bio {
  border-radius: 10px 10px 0px 0px;
}

.last-bio {
  border: 0.3rem solid white;
  border-radius: 0px 0px 10px 10px;
}

.left_image {
  float: left;
  margin-right: 1em;
  border-radius: 5px;
}

.right_image {
  float: right;
  margin-right: 1em;
  border-radius: 5px;
}

p {
  color: white;
}


.newscalc{
  font-family: 'Tourney', cursive;
  font-size: 60px;
  color: #fff;
  text-align: center;
  margin: 0em 31% 1em 31%;
  padding: 1rem;
  border: 0.3rem solid #fff;
  border-radius: 2rem;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 .25rem #08f,
      0 0 .5rem #08f,
      0 0 .75rem #08f,
      0 0 1rem #08f,
      0 0 1.25rem #08f;
  box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #f40,
      inset 0 0 1rem #f40,
      0 0 2rem #f40,
      inset 0 0 2rem #f40;
}
