.bg-mellow {
    background-color: #284db9;
}

.uva-orange {
    background-color: rgb(6, 35, 111);
}

body {
    font-family: 'Mate SC', serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#marquee {
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0.6em 0 0.2em 0;
    font-size: medium;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    color: #ffffff;
}