body {
    font-family: 'Exo 2', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
    background: #000;
    background-image: url('https://i.ibb.co/HGj2hcd/bg.png');
    background-size: cover;
}

#dropdown {
    width: 13rem;
}

#price-change-image {
    width: 0.75rem;
    height: 0.75rem;
}