.select2-container--default .select2-selection--single {
    background-color: black;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: white;
}

.select2-search {
    background-color: black;
}

.select2-search input {
    background-color: black;
}

.select2-results {
    background-color: black;
    color: white;
}

.select2-choice {
    background-color: black !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: #7cacfa;
}