@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sidebar a,
#sidebar a:hover,
#sidebar a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.navbar{
	size: fixed;
	padding: 15px 10px;
	background: none;
	border: none;
	border-radius: 0;
	margin-bottom: 40px;
	text-align: center;
}

.navbar-btn{
  background: none;
	box-shadow: none;
	outline: none;
	border: none
}

#sidebar {
    min-width: 15%;
    max-width: 15%;
    background-image: linear-gradient(#2f2159, #4000ff);
		background-size: cover;
    color: #fff;
    transition: all 0.3s;
		text-align: center;
		position: fixed;
		top: 8%;
		left: -17%;
		border-radius: 5px;
		border: 5px solid white;
		box-shadow:
		0 0 5px #fff,
		0 0 10px #fff,
		0 0 20px #fff,
		0 0 40px #00f;
}

#sidebar.active{
	margin-left: +17%;
}

#sidebar .sidebar-header{
	padding: 20px;
	background: none;
}
#sidebar ul.components{

}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,

#sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle{
	position: absolute;
	top: 50%;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

#sidebar ul.CTAs {
    padding: 20px;
}

#sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 80vh;
    transition: all 0.3s;
}

#sidebarCollapse{
	background: none;
	border: none;
	position: fixed;
	top: 1%;
	left: 1%;
}


@media(maz-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}
