#scrolling-bar {
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0.6em 0 0.2em 0;
    font-size: medium;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    color: #ffffff;
    z-index: 1;
}

.sb-coin-text {
    display: inline;
    font-size: 15px;
}

.sb-price-change-symbol {
    height: 15px;
    width: 15px;

    /* Unsets the img styling using in news.ejs */
    float: unset;
    margin-right: unset;
}