body {
  font-family: 'Exo 2', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  background: #000;
  background-image: url('https://i.ibb.co/HGj2hcd/bg.png');
  background-size: cover;
}

.newscalc{
  font-size: 60px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  margin: 0em 22% .5em 22%;
  padding: 1rem;
  border: 0.3rem solid #fff;
  border-radius: 2rem;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 .25rem #08f,
      0 0 .5rem #08f,
      0 0 .75rem #08f,
      0 0 1rem #08f,
      0 0 1.25rem #08f;
  box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #f40,
      inset 0 0 1rem #f40,
      0 0 2rem #f40,
      inset 0 0 2rem #f40;
}

.bit_logo {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

.current-score {
  float: left;
  clear: left;
  margin-top: 6rem;
  margin-left: 6rem;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 .25rem #08f,
      0 0 .5rem #08f,
      0 0 .75rem #08f,
      0 0 1rem #08f,
      0 0 1.25rem #08f;
}

.curr-score {
  float: left;
  clear: left;
  margin-top: 1rem;
  margin-left: 13rem;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 .25rem #08f,
      0 0 .5rem #08f,
      0 0 .75rem #08f,
      0 0 1rem #08f,
      0 0 1.25rem #08f;
}

.high-score {
  float: right;
  clear: right;
  margin-top: 6rem;
  margin-right: 6rem;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 .25rem #08f,
      0 0 .5rem #08f,
      0 0 .75rem #08f,
      0 0 1rem #08f,
      0 0 1.25rem #08f;
}

.hi-score {
  float: right;
  clear: right;
  margin-top: 1rem;
  margin-right: 11.5rem;
  text-shadow:
      -0.2rem -0.2rem 1rem #fff,
      0.2rem 0.2rem 1rem #fff,
      0 0 .25rem #08f,
      0 0 .5rem #08f,
      0 0 .75rem #08f,
      0 0 1rem #08f,
      0 0 1.25rem #08f;
}

canvas {
  margin: 0em 1em 1em 6.5em;
  background-color: #141d26;
  border: 1px solid white;
  box-shadow:
      0 0 .5rem #fff,
      inset 0 0 .5rem #fff,
      0 0 2rem #f40,
      inset 0 0 1rem #f40,
      0 0 2rem #f40,
      inset 0 0 2rem #f40;
}
