<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Calc</title>

    <!-- Scrolling bar library; Source: https://github.com/tjenkinson/dynamic-marquee -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dynamic-marquee@2"></script>
    <!-- My crypto API -->
    <script src="/data/cryptoAPI.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!--Page Specific CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap" rel="stylesheet">
  </head>\
  <body>
    <%- include('../partials/navbar.ejs') %>

    <h1 class="newscalc">About</h1>
    <div class="paulswrapper" style="text-align: center">

      <p class="devhub_info">Crypto Calc was developed for <a class="devhub_link" href="https://devhub.virginia.edu/" target="_blank">UVA Dev Hub</a> by the following team members:</p>

      <ul class="about_table">
        <li>
          <article class="bio first-bio">
            <h4 class="name">Ned Rossman (Project Manager)</h4>
            <p><img class="left_image" id="image_0" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'" width="auto" height="100"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui commodo, tincidunt ex id, tincidunt dui. In auctor ante nec nisl varius mattis. Suspendisse id tempus diam. Quisque felis est, lacinia sit amet placerat ut, placerat id eros. Ut ac accumsan leo. Mauris sed dignissim elit. Duis id elementum arcu. Praesent faucibus ultrices dolor. Pellentesque eget sodales nibh, ac luctus sem. Pellentesque sit amet euismod lorem. Etiam magna enim, consequat ac fringilla sodales, imperdiet id purus. Aenean fermentum consectetur justo nec semper. Proin non semper urna. Praesent lobortis felis ac varius ultricies. Suspendisse potenti. Duis nec porta mi.</p>
            <p id="preview_0"></p>
          </article>
        </li>
        <li>
          <article class="bio">
            <h4 class="name">Paul Bartenfeld (Development Intern)</h4>
            <p><img class="right_image" id="image_1" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'" width="auto" height="100"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui commodo, tincidunt ex id, tincidunt dui. In auctor ante nec nisl varius mattis. Suspendisse id tempus diam. Quisque felis est, lacinia sit amet placerat ut, placerat id eros. Ut ac accumsan leo. Mauris sed dignissim elit. Duis id elementum arcu. Praesent faucibus ultrices dolor. Pellentesque eget sodales nibh, ac luctus sem. Pellentesque sit amet euismod lorem. Etiam magna enim, consequat ac fringilla sodales, imperdiet id purus. Aenean fermentum consectetur justo nec semper. Proin non semper urna. Praesent lobortis felis ac varius ultricies. Suspendisse potenti. Duis nec porta mi.</p>
            <p id="preview_1"></p>
          </article>
        </li>
        <li>
          <article class="bio">
            <h4 class="name">Karthik (Development Intern)</h4>
            <p><img class="left_image" id="image_2" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'" width="auto" height="100"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui commodo, tincidunt ex id, tincidunt dui. In auctor ante nec nisl varius mattis. Suspendisse id tempus diam. Quisque felis est, lacinia sit amet placerat ut, placerat id eros. Ut ac accumsan leo. Mauris sed dignissim elit. Duis id elementum arcu. Praesent faucibus ultrices dolor. Pellentesque eget sodales nibh, ac luctus sem. Pellentesque sit amet euismod lorem. Etiam magna enim, consequat ac fringilla sodales, imperdiet id purus. Aenean fermentum consectetur justo nec semper. Proin non semper urna. Praesent lobortis felis ac varius ultricies. Suspendisse potenti. Duis nec porta mi.</p>
            <p id="preview_2"></p>
          </article>
        </li>
        <li>
          <article class="bio">
            <h4 class="name">Serhii Maltsev (Development Intern)</h4>
            <p><img class="right_image" id="image_3" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'" width="auto" height="100"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui commodo, tincidunt ex id, tincidunt dui. In auctor ante nec nisl varius mattis. Suspendisse id tempus diam. Quisque felis est, lacinia sit amet placerat ut, placerat id eros. Ut ac accumsan leo. Mauris sed dignissim elit. Duis id elementum arcu. Praesent faucibus ultrices dolor. Pellentesque eget sodales nibh, ac luctus sem. Pellentesque sit amet euismod lorem. Etiam magna enim, consequat ac fringilla sodales, imperdiet id purus. Aenean fermentum consectetur justo nec semper. Proin non semper urna. Praesent lobortis felis ac varius ultricies. Suspendisse potenti. Duis nec porta mi.</p>
            <p id="preview_3"></p>
          </article>
        </li>
        <li>
          <article class="bio last-bio">
            <h4 class="name">Altin Terstena (Development Intern)</h4>
            <p><img class="left_image" id="image_4" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'" width="auto" height="100"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui commodo, tincidunt ex id, tincidunt dui. In auctor ante nec nisl varius mattis. Suspendisse id tempus diam. Quisque felis est, lacinia sit amet placerat ut, placerat id eros. Ut ac accumsan leo. Mauris sed dignissim elit. Duis id elementum arcu. Praesent faucibus ultrices dolor. Pellentesque eget sodales nibh, ac luctus sem. Pellentesque sit amet euismod lorem. Etiam magna enim, consequat ac fringilla sodales, imperdiet id purus. Aenean fermentum consectetur justo nec semper. Proin non semper urna. Praesent lobortis felis ac varius ultricies. Suspendisse potenti. Duis nec porta mi.</p>
            <p id="preview_4"></p>
          </article>
        </li>
      </ul>

      <h3 class="special_thanks">With help from ...</h3>

      <ul class="about_table">
        <li>
          <article class="bio first-bio">
            <h4 class="name">Nadim El-Jaroudi (Supervisor)</h4>
            <p><img class="left_image" id="image_6" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'" width="auto" height="100"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui commodo, tincidunt ex id, tincidunt dui. In auctor ante nec nisl varius mattis. Suspendisse id tempus diam. Quisque felis est, lacinia sit amet placerat ut, placerat id eros. Ut ac accumsan leo. Mauris sed dignissim elit. Duis id elementum arcu. Praesent faucibus ultrices dolor. Pellentesque eget sodales nibh, ac luctus sem. Pellentesque sit amet euismod lorem. Etiam magna enim, consequat ac fringilla sodales, imperdiet id purus. Aenean fermentum consectetur justo nec semper. Proin non semper urna. Praesent lobortis felis ac varius ultricies. Suspendisse potenti. Duis nec porta mi.</p>
            <p id="preview_6"></p>
          </article>
        </li>
        <li>
          <article class="bio last-bio">
            <h4 class="name">G Michael (???)</h4>
            <p><img class="right_image" id="image_7" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'" width="auto" height="100"/>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris eu dui commodo, tincidunt ex id, tincidunt dui. In auctor ante nec nisl varius mattis. Suspendisse id tempus diam. Quisque felis est, lacinia sit amet placerat ut, placerat id eros. Ut ac accumsan leo. Mauris sed dignissim elit. Duis id elementum arcu. Praesent faucibus ultrices dolor. Pellentesque eget sodales nibh, ac luctus sem. Pellentesque sit amet euismod lorem. Etiam magna enim, consequat ac fringilla sodales, imperdiet id purus. Aenean fermentum consectetur justo nec semper. Proin non semper urna. Praesent lobortis felis ac varius ultricies. Suspendisse potenti. Duis nec porta mi.</p>
            <p id="preview_7"></p>
          </article>
        </li>
      </ul>
    </div>

  </body>

</html>
