<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Calc</title>

    <!-- Scrolling bar library; Source: https://github.com/tjenkinson/dynamic-marquee -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dynamic-marquee@2"></script>
    <!-- My crypto API -->
    <script src="/data/cryptoAPI.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!--Page Specific CSS -->
    <link rel="stylesheet" type="text/css" href="stylesheets/about.css">


    <!-- Import Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tourney:ital@1&display=swap" rel="stylesheet">
  </head>\
  <body>
    <%- include('../pages/scrolling-bar.ejs') %>
    <%- include('../partials/navbar-altin.ejs') %>

    <h1 class="newscalc">About</h1>

      <p class="devhub_info">Crypto Calc was developed for <a class="devhub_link" href="https://devhub.virginia.edu/" target="_blank">UVA Dev Hub</a> by the following team members:</p>

          <article class="bio left_bio">
            <img class="bio_image" id="image_0" src="/images/Paul-Photo.jpg" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'"/>
            <p class="name">Paul Bartenfeld<br><em>Dev Intern</em></p>
          </article>

          <article class="bio">
            <img class="bio_image" id="image_0" src="/images/Karthik-Photo.jpg" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'"/>
            <p class="name">Karthik Eswarapragada<br><em>Dev Intern</em></p>
          </article>

          <article class="bio">
            <img class="bio_image" id="image_0" src="/images/Serhii-Photo.jpg" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'"/>
            <p class="name">Serhii Maltsev<br><em>Dev Intern</em></p>
          </article>

          <article class="bio left_bio bottom_row">
            <img class="bio_image" id="image_0" src="/images/Altin-Photo.jpg" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'"/>
            <p class="name">Altin Terstena<br><em>Dev Intern</em></p>
          </article>

          <article class="bio bottom_row">
            <img class="bio_image" id="image_0" src="/images/Ned-Photo.jpeg" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'"/>
            <p class="name">Ned Rossman<br><em>Project Manager</em></p>
          </article>

          <article class="bio bottom_row">
            <img class="bio_image" id="image_0" src="" onerror="this.src='https://organizationchange.org/wp-content/uploads/2018/12/profile-generic-portrait.jpg'"/>
            <p class="name">Nadim El-Jaroudi<br><em>Supervisor</em></p>
          </article>

  </body>

</html>
