<!DOCTYPE html>

<head>
    <%- include("../partials/header-altin.ejs") %>
    <!-- Chart dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"
        integrity="sha512-VCHVc5miKoln972iJPvkQrUYYq7XpxXzvqNfiul1H4aZDwGBGC0lq373KNleaB2LpnC2a/iNfE5zoRYmB4TRDQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="helpers/coinHelper.js"></script>
    <script src="helpers/chartHelper.js"></script>
    <!-- Dropdown menu dependencies -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="helpers/dropdown/dropdownHelper.js"></script>
    <script src="helpers/dropdown/dropdownCoinHelper.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/dropdown.css">
    <!-- Page specific stylesheet -->
    <link rel="stylesheet" type="text/css" href="stylesheets/chart.css">
</head>

<body>
    <%- include('../partials/navbar-altin.ejs') %>
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div id="dropdown"></div>
            </div>
        </div>
        <div class="row my-2 gx-1">
            <div class="col-auto">
                <img id="price-change-image">
            </div>
            <div class="col">
                <h5 id="chart-price"></h5>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <canvas id="chart"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <%- include("../partials/digital-clock.ejs") %>
            </div>
        </div>
    </div>
</body>
<script>
    let chart = createChart("bitcoin", "chart")

    let popularCoins
    $(document).ready(() => {
        createDropdown("dropdown")
        getPopularCoins().then(coins => {
            popularCoins = coins
            options = convertCoinsToDropdownOptions(coins)
            bindOptionsToDropdown(options, "dropdown")
            setOnChangeListenerForDropdown((selectedOption) => changeChartCoin(selectedOption, popularCoins), "dropdown")
            changeInputFieldPlaceholderText("Search for a coin...", "dropdown")
        })
    })
</script>
<%- include("../partials/footer-altin.ejs") %>

</html>