<!DOCTYPE html>
<html>
<head>

  <%- include('../partials/header.ejs') %>
  <link rel="stylesheet" type="text/css" href="stylesheets/mainpage.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>


<body>

  <%- include('../partials/nav.ejs') %>

  <input type="checkbox" id="check">
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>Database</h3>
    </div>
    <div class="right_area">
    <div>
  </header>

  <div class = "sidebar">
    <center>
      <img src = "https://i.ibb.co/G9CVPYh/bitcoin-dd8a16.png" class="profile_image" alt = "">
      <h4>Crypto Calc</h4>
    </center>
    <a href="/main"><i class="fas fa-coins"><span> Main</span></i></a>
    <a href="/calculator"><i class="fas fa-calculator"><span> Calculator</span></i></a>
    <a href="/news"><i class="fas fa-newspaper"><span> News</span></i></a>
    <a href="/database"><i class="fas fa-database"><span> Database</span></i></a>
    <a href="/game"><i class="fas fa-gamepad"><span> Game</span></i></a>
  <div>


  <script>

  </script>

</body>
</html>
