<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Calc</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/Karthik.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/mainpage.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
      <h1 contenteditable spellcheck="false">Crypto Calc</h1>
    <form class="input">
    Input :
      <input type="text" name="Input" id="txtInput">
    </form>
    <form class="output">
    Output :
      <input type = "text" name "output" id= "txtOutput">
    </form>

    <table id = "myTable">
      <tr>
        <th> Date and Time: </th>
        <th> Input: </th>
        <th> Output: </th>
      </tr>
    </table>
    <audio id="mysound" src="ka-ching.mp3" preload="auto"></audio>
    <button class= "button button1" onclick="convert(); history(); playsound()">ENTER</button>

    <div class="dropdown v1" style="position: fixed; top: 47%; left: 23%;">
      <label for="currency"> Choose an input: </label>
      <select name="input currency" id="inputCurrency">
        <option value="Bitcoin">Bitcoin</option>
        <option value="Litecoin">Litecoin</option>
        <option value="Bitcoin Cash">Bitcoin Cash</option>
        <option value="Polkadot">Polkadot</option>
      </select>
    </div>

<div class="dropdown v2" style="position: fixed; top: 47%; left: 42%;">
  <label for="coins"> Choose a coin: </label>
  <select id= "coin_value">
    <option value="blank" ></option>
    <option value="Litecoin">Litecoin</option>
    <option value="Ethereum">Ethereum</option>
    <option value="Bitcoin Cash">Bitcoin Cash</option>
  </select>
</div>


  </body>
  <script>

  var factor1;
  var factor2;
  var date;
  var inputVal;
  var outputVal;
  var inputTick = "";
  var coinTick = "";
  var inputName = "";
  var coinName = "";



  function convert(){
    inputVal = document.getElementById("txtInput");
    outputVal = document.getElementById("txtOutput");
    var currency = inputVal.value;

    inputName = document.getElementById("inputCurrency").value;
    coinName = document.getElementById("coin_value").value;

    inputName = inputName.toLowerCase();
    coinName = coinName.toLowerCase();

    fetch("https://api.coingecko.com/api/v3/coins/" + inputName).then(r => r.json()).then(data => {
      inputTick = data.symbol;
    })

    fetch("https://api.coingecko.com/api/v3/coins/" + coinName).then(r => r.json()).then(data => {
      coinTick = data.symbol;
    })

    fetch("http://api.coingecko.com/api/v3/exchange_rates").then(r => r.json()).then(data => {
      factor1 = data.rates[inputTick].value;
    })

    fetch("http://api.coingecko.com/api/v3/exchange_rates").then(r => r.json()).then(data => {
      factor2 = data.rates[coinTick].value;
    })

    var num = currency / factor1 * factor2;
    outputVal.value = num.toPrecision(4);

  }

  function history(){
    var dt = new Date();
    date = (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2))
     +":"+ (("0"+dt.getMinutes()).slice(-2));

    var table = document.getElementById("myTable");
    var row = table.insertRow(1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);

    cell1.innerHTML = date;
    cell2.innerHTML = inputVal.value + " " + document.getElementById("inputCurrency").value;
    cell3.innerHTML = outputVal.value + " " + document.getElementById("coin_value").value;
  }
  function playsound() {
    var mysound = document.getElementById("mysound");
    mysound.autoplay = 'true';
    mysound.load();
  }


  </script>
</html>
