<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Calc</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/Karthik.css">
  </head>
  <body>
      <h1 contenteditable spellcheck="false">Crypto Calc</h1>
    <form class="input">
    Input :
      <input type="text" name="Input" id="txtInput">
    </form>
    <form class="output">
    Output :
      <input type = "text" name "output" id= "txtOutput">
    </form>

    <table id = "myTable">
      <tr>
        <th> Date and Time: </th>
        <th> Input: </th>
        <th> Output: </th>
      </tr>
    </table>
    <audio id="mysound" src="C:\Users\karth\Downloads\ka-ching.mp3" preload="auto"></audio>
    <button class= "button button1" onclick="convert(); playsound()">ENTER</button>

    <div class="dropdown v1" style="position: fixed; top: 47%; left: 23%;">
      <label for="currency"> Choose an input: </label>
      <select name="input currency" id="inputCurrency">
        <option value="btc">Bitcoin</option>
        <option value="ltc">Litecoin</option>
        <option value="bch">Bitcoin Cash</option>
        <option value="dot">Polkadot</option>
        <option value="usd">US Dollar</option>
        <option value="aed">United Arab Emirates Dirham</option>
        <option value="ars">Argentine Peso</option>
        <option value="aud">Australian Dollar</option>

      </select>
    </div>

<div class="dropdown v2" style="position: fixed; top: 47%; left: 52%;">
  <label for="coins"> Choose a coin: </label>
  <select id= "coin_value">
    <option value="blank" >Choose a coin</option>
    <option value="ltc">Litecoin</option>
    <option value="eth">Ethereum</option>
    <option value="bch">Bitcoin Cash</option>
    <option value="bnb">Binance Coin</option>
    <option value="eos">EOS</option>
    <option value="xrp">XRP</option>
    <option value="dot">Polkadot</option>
    <option value="xlm">Lumens</option>
    <option value="link">Chainlink</option>
    <option value="yfi">Yearn.finance</option>



  </select>
</div>


  </body>
  <script>

  var factor1;
  var factor2;
  var date;
  var inputVal;
  var outputVal;
  var inputTick = "";
  var coinTick = "";



  function convert(){
    inputVal = document.getElementById("txtInput");
    outputVal = document.getElementById("txtOutput");
    var currency = inputVal.value;

    inputTick = document.getElementById("inputCurrency").value;
    coinTick = document.getElementById("coin_value").value;


    fetch("http://api.coingecko.com/api/v3/exchange_rates").then(r => r.json()).then(exch_data => {
      factor1 = exch_data.rates[inputTick].value;
      factor2 = exch_data.rates[coinTick].value;

      var num = currency / factor1 * factor2;
      outputVal.value = num.toPrecision(4);
      history()

    })
  }

  function history(){
    var dt = new Date();
    date = (("0"+dt.getDate()).slice(-2)) +"/"+ (("0"+(dt.getMonth()+1)).slice(-2)) +"/"+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2))
     +":"+ (("0"+dt.getMinutes()).slice(-2));

    var table = document.getElementById("myTable");
    var row = table.insertRow(1);
    var cell1 = row.insertCell(0);
    var cell2 = row.insertCell(1);
    var cell3 = row.insertCell(2);

    cell1.innerHTML = date;
    cell2.innerHTML = inputVal.value + " " + document.getElementById("inputCurrency").value;
    cell3.innerHTML = outputVal.value + " " + document.getElementById("coin_value").value;



  }
  function playsound() {
    var mysound = document.getElementById("mysound");
    mysound.autoplay = 'true';
    mysound.load();
  }


  </script>
</html>
