<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Calc</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/Karthik.css">
  </head>
  <body>
      <h1 contenteditable spellcheck="false">Crypto Calc</h1>
    <form class="input">
    Input :
      <input type="text" name="Input">
    </form>
    <form class="output">
    Output :
      <input type = "text" name "output">
    </form>

    <table>
      <tr>
        <th> Date and Time: </th>
        <th> Input: </th>
        <th> Output: </th>
      </tr>
      <tr>
        <td>Wednesday, June 9th. 9:41 PM</td>
        <td>Example Input</td>
        <td>Example Output</td>
      </tr>
    </table>
    <button class= "button button1">ENTER</button>

  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Coin</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">Bitcoin</a>
      <a href="#">Ethereum</a>
      <a href="#">Dogecoin</a>
    </div>
  </div>

  </body>
  <script>
  function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
  </script>
</html>
