<!DOCTYPE html>
<html>
<head>

  <%- include('../partials/header.ejs') %>

</head>


<body>

  <%- include('../partials/nav.ejs') %>

  <div style="text-align: center;">
    <h4>My name is Karthik Eswarapragada, I am a second-year student at UVA. I have lived in Virginia for most of my life, and have always been interested in UVA. I actually share a birthday with TJ. I am studying Mechanical Engineering, I have always wanted to pursue a career in engineering. I am a pretty resourceful person when it comes to problem solving, so I really fell in love with engineering. I am hoping to learn more about the software side of engineering, and gain some real experience in the development cycle. One of the reasons I chose Mechanical over other disciplines was to experience everything STEM has to offer. So that is why I am really excited for this internship and our project. I love watching football, and my favorite team is the Washington Football Team(I hope we get a real name soon).</h4>
    <div id="variable_here"></div>
    <img src="https://thumbs.gfycat.com/SelfishWarmheartedCarpenterant-size_restricted.gif" alt= "rg3 gif">
  </div>
  <style>
    h4 {
      background-color: yellow;
    }
    body {
      background-color: maroon;
    }
    variable_here {
      font-size: 100;
    }
  </style>
  <script>
    var obj = document.getElementById("variable_here");
    obj.setAttribute("style", "font-size: xx-large; color: white;")
    var i = 1000;
    setInterval(() => {
      console.log(i);
      document.getElementById("variable_here").innerHTML = i;
      i--;
    }, 1000);

  </script>

</body>
</html>
