<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/header.ejs') %>
    <link rel="stylesheet" type="text/css" href="stylesheets/newstest.css">

  </head>
  <body>
    <div  style="text-align: center">
      <h1 contenteditable spellcheck="false">Crypto News</h1>

      <form onsubmit="return updateSearch()" autocomplete="off">
        <input type="text" id="search_bar" placeholder="Search for news...">
        <input class="submitButton" type="submit" value="Search">
      </form>

        <aside>
          <a class="twitter-timeline" data-lang="en" data-height="1840" data-chrome="transparent" data-theme="dark" href="https://twitter.com/BartenfeldPaul/lists/1406779800317005829?ref_src=twsrc%5Etfw">
            Tweets by Crypto People
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
          </script>
        </aside>

      <ul>
        <li>
          <article class="first-article">
            <h4><a id="title_0" href="" target="_blank"></a></h4>
            <p><img id="image_0" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_0"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_1" href="" target="_blank"></a></h4>
            <p><img id="image_1" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_1"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_2" href="" target="_blank"></a></h4>
            <p><img id="image_2" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_2"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_3" href="" target="_blank"></a></h4>
            <p><img id="image_3" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_3"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_4" href="" target="_blank"></a></h4>
            <p><img id="image_4" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_4"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_5" href="" target="_blank"></a></h4>
            <p><img id="image_5" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_5"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_6" href="" target="_blank"></a></h4>
            <p><img id="image_6" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_6"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_7" href="" target="_blank"></a></h4>
            <p><img id="image_7" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_7"></p>
          </article>
        </li>
        <li>
          <article>
            <h4><a id="title_8" href="" target="_blank"></a></h4>
            <p><img id="image_8" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_8"></p>
          </article>
        </li>
        <li>
          <article class="last-article">
            <h4><a id="title_9" href="" target="_blank"></a></h4>
            <p><img id="image_9" src="" onerror="this.src='https://www.flexx.co/assets/camaleon_cms/image-not-found-4a963b95bf081c3ea02923dceaeb3f8085e1a654fc54840aac61a57a60903fef.png'" width="auto" height="100"/></p>
            <p id="preview_9"></p>
          </article>
        </li>
      </ul>
        <button id="prevButton" style="background-color: #2980B9" onclick="oneClicked()" class= "button" disabled>Prev.</button>
        <button id="firstButton" style="background-color: #2980B9" onclick="oneClicked()" class= "button" disabled>1</button>
        <button id="secondButton" onclick="twoClicked()" class= "button">2</button>
        <button id="thirdButton" onclick="threeClicked()" class= "button">3</button>
        <button id="fourthButton" onclick="fourClicked()" class= "button" disabled>...</button>
        <button id="fifthButton" onclick="tenClicked()" class= "button">10</button>
        <button id="nextButton" onclick="twoClicked()" class= "button">Next</button>
    </div>
    <script src='/scripts/newstest.js' type='text/javascript'></script>

  </body>
</html>
