<!DOCTYPE html>
<html>
<head>

  <%- include('../partials/header.ejs') %>

</head>

<link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet'>

<style>
body {
 background-image: url('https://i.pinimg.com/originals/9c/76/9f/9c769f48cf3d318105c1151087a400f5.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
.button {
  background: transparent;
  border: 2px solid magenta;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2em 4em;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: black;
}
a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: magenta;
  background-color: transparent;
  text-decoration: italic;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}


a:link {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: magenta;
  background-color: transparent;
  text-decoration: italic;
}
a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

</style>
<body>

  <%- include('../partials/nav.ejs') %>

  <div id="text_prefs" style="text-align: center; color:yellow; font-family:Orbitron;">
    <h1 id="title">Paul's Page</h1>
    <p id="bio" style="margin: 3em 7em 3em 7em; border-width:5px;
    border-style:groove; border-color: magenta; padding: 1em">
    Hi, I’m Paul and I’m a third-year from Stafford, Virginia.
        I am a BA Computer Science major and when I’m not staying up all night
        trying to figure out why my code refuses to work as intended, I spend
        most of my time either playing way too many video games or practicing
        snare drum in UVA’s Cavalier Marching Band.
        I can also be seen playing drum set at some Women’s and Men’s Basketball
         games and follow the NBA pretty closely most seasons (go Nuggets!) so I
          usually have one or two hot takes ready to go.  I had no experience
          with anything related to Computer Science before my first year in
          college but now I couldn’t imagine doing anything else and am
          looking forward to a future in software development.</p>
    <button id="the_button" type="button"; class="button"; onclick="getClicked()">Hard to Read? Click Me!</button>
    <div id="counter" style="font-size: 2em"></div>
    <image id="the_gif" src="https://images.squarespace-cdn.com/content/v1/57b1fe4ef7e0ab588bc6d3bb/1508870226296-NXNQ08KQ9T4OZXP57KWM/ke17ZwdGBToddI8pDm48kBZN12O5nsk_xgZgkr0pi4JZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7UlsW9OX_ZneFwBCDVKxw6WL3LlpY_tVQNqjc6o4Ku0NTW9HNOVPdrPupPn-Lyp4xQ/1080-surf.gif">
    <h3 id="crypto_value">Crypto Value:</h3>
    <p id="value">N/A</p>
    <h3 id="crypto_cap">Market Cap:</h3>
    <p id="cap">N/A</p>
    <h3 id="crypto_volume">Crypto Volume:</h3>
    <p id="volume">N/A</p>

  </div>


    if (document.body.style.background !== "black") {
      document.getElementById("counter").innerHTML = i.toFixed(1) + " seconds spent hoverboarding";
      i += .1;
    }
    else {
      document.getElementById("counter").innerHTML = j.toFixed(1) + " seconds spent waving";
      j += .1;
    }

  }

    var i = 0;
    var j = 0;
    setInterval(() => {
      if (document.body.style.background !== "black") {
        document.getElementById("counter").innerHTML = i.toFixed(1) + " seconds spent hoverboarding";
        i += 1;
      }
      else {
        document.getElementById("counter").innerHTML = j.toFixed(1) + " seconds spent waving";
        j += 1;
      }
      fetch(window.origin + "/testcoin").then(r => r.json()).then(data => {
        console.log("Price: " + data.data[0].quote.USD.price);
        document.getElementById("value").innerHTML = data.data[0].quote.USD.price;
        console.log("Price: " + data.data[0].quote.USD.market_cap);
        document.getElementById("cap").innerHTML = data.data[0].quote.USD.market_cap;
        console.log("Price: " + data.data[0].quote.USD.volume_24h);
        document.getElementById("volume").innerHTML = data.data[0].quote.USD.volume_24h;
      })
    }, 1000);

  const rp = require('request-promise');
  const requestOptions = {
    method: 'GET',
    uri: 'https://pro-api.coinmarketcap.com/v1/cryptocurrency/listings/latest',
    qs: {
      'start': '1',
      'limit': '5000',
      'convert': 'USD'
    },
    headers: {
      'X-CMC_PRO_API_KEY': 'b54bcf4d-1bca-4e8e-9a24-22ff2c3d462c'
    },
    json: true,
    gzip: true
  };

  rp(requestOptions).then(response => {
    console.log('API call response:', response);
  }).catch((err) => {
    console.log('API call error:', err.message);
  });

  </script>

</body>
</html>
