<!-- Adapted from: https://gist.github.com/straker/ff00b4b49669ad3dec890306d348adc4 -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="stylesheets/secret.css">
        <title>Welcome to the Snake Game!</title>
    </head>
    <body>

      <h1 class="newscalc">
        <img class="bit_logo" id="bit_logo1" src="http://assets.stickpng.com/images/5a521fa72f93c7a8d5137fcf.png"></img>
         Bitcoin Banker
         <img class="bit_logo" id="bit_logo2" src="http://assets.stickpng.com/images/5a521fa72f93c7a8d5137fcf.png"></img>
       </h1>

      <div>
        <h1 class="current-score">Current Score: </h1>
        <h1 class="high-score">High Score: </h1>
        <h1 class="curr-score">$0</h1>
        <h1 class="hi-score">$0</h1>

        <p>
          <canvas width="400" height="400" id="game"></canvas>
        </p>
      </div>

        <script src='/scripts/secret.js' type='text/javascript'></script>
    </body>
</html>
